.promo-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.promo-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    justify-content: center;
}

.promo-list>div {
    background-color: #fefefe;
}

.promo-list>div:hover {
    background-color: #eeeeee;
}

.promo-info {
    width: 50%;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo-info>* {
    margin: 0;
}

.promo-info h2 {
    font-size: 40px;
}

.promo-info h3 {
    font-size: 30px;
}

.promo-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding-top: 10px;
}

.promo-name {
    color: #6ec1e4;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.promo-date {
    margin: 10px auto;
    padding: 0;
    color: #6ec1e4;
    font-size: 20px;
    text-align: center;
}

.promo-msg {
    color: #7a7a7a;
    line-height: 50px;
    height: 30px;
    font-size: 10px;
    text-align: center !important;
}

.img-box {
    width: 100%;
    height: 230px;
    justify-items: center;
    text-align: center
}

.img-box a {
    line-height: 230px;
}

.promo-img {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    transition: 0.5s;
}

.promo-img:hover {
    filter: saturate(200%);
}

.promo-name {
    color: #50976a;
    font-size: 22px;
    min-height: 34px;
}

.prod-title {
    color: #1c1c1f;
    font-size: 16px;
    margin: auto;
    max-width: 300px;
}

.prod-price {
    color: #50976a;
    height: auto;
    margin: 0;
    font-size: 26px;
}

.promo-btn {
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #6ec1e4;
    transition: 0.1s;
}

.promo-btn:hover {
    background: #337ebf;
}

.promo-btn h2 {
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

.sales-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.sales-info>* {
    margin: 0;
}

.sales-info h2 {
    width: 100%;
    height: 35px;
    font-size: 28px;
    color: #337ebf;
}

.sales-info h3 {
    padding-bottom: 10px;
    font-size: 26px;
    height: 30px;
    width: 100%;
}

.mobile-ver {
    display: none;
}

.web-ver {
    display: flex;
}

@media (max-width: 1300px) {
    .mobile-ver {
        display: flex;
    }
    .web-ver {
        display: none;
    }
    .promo-info {
        width: calc(200% / 3);
    }
    .promo-item {
        width: calc(100% / 3);
    }
    .promo-list {
        justify-content: left;
    }
}

@media (max-width: 960px) {
    .promo-info {
        width: 50%;
    }
    .promo-info h2 {
        font-size: 40px;
    }
    .promo-info h3 {
        font-size: 30px;
    }
    .promo-item {
        width: 50%;
    }
    .promo-list {
        justify-content: left;
    }
    .sales-info h3 a {
        color: #fefefe;
    }
    .sales-info h3 {
        background-color: #6ec1e4;
        height: 50px;
        padding: 10px;
        transition: 0.1s;
    }
    .sales-info h3:hover {
        background-color: #337ebf;
        height: 50px;
        padding: 10px;
    }
}

@media (max-width: 716px) {
    .promo-info {
        width: 100%;
        padding: 20px;
    }
    .promo-info h2 {
        font-size: 30px;
    }
    .promo-info h3 {
        font-size: 24px;
    }
    .promo-item {
        width: 100%;
    }
}