.showcase-slider {
    background-color: #000;
}

.showcase-slider {
    height: 350px;
    background-color: #000;
}

.product-slide {
    min-width: 300px;
    width: fit-content;
    height: 300px;
    max-height: 330px;
    background-color: #fff;
    margin-top: 10px;
}

.quick-sale>ul>li {
    width: 100% !important;
}

.showcase-content{
    padding: 20px 0;
    background-color: #000;
}

@media (max-width: 500px) {
    .showcase-slide {
        min-height: 100vh;
    }
}